<html>
    <head>
        <link rel="stylesheet" href="/PetBenefit/css/Main.css">
        <link rel="stylesheet" href="/PetBenefit/css/bootstrap.min.css">
        <link rel="stylesheet" href="/PetBenefit/css/font-awesome.min.css">
        <script type="text/javascript" src="/PetBenefit/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/PetBenefit/js/jquery.js"></script>
    </head>
    <body>
            {{{body}}}
    </body>
</html>