
            <div class="row mt-3 mb-3">
                <div class="col-8">
                    <img src="../images/slogan.png" class="w-100 h-450">
                </div>
                <div class="col-4">
                    <div class="d-flex flex-column h-450">
                        <div class="row mb-auto">
                            <div class ="col-6 filter-shadown">
                                <a href="Store_Cat.html" class="d-flex flex-column align-items-center pet-type pet-type-active">
                                    <img src="../images/cat.png" class="w-75">
                                    <p class="mt-2">Đồ dùng mèo</p>
                                </a>
                            </div>
                            <div class ="col-6">
                                <a href="Store_Dog.html" class="d-flex flex-column align-items-center pet-type">
                                    <img src="../images/dog.png" class="w-75">
                                    <p class="mt-2">Đồ dùng chó</p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-6">
                                <a href="Store_Bird.html" class="d-flex flex-column align-items-center pet-type">
                                    <img src="../images/bird.png" class="w-75">
                                    <p class="mt-2">Đồ dùng chim</p>
                                </a>
                            </div>
                            <div class ="col-6">
                                <a href="Store_Reptile.html" class="d-flex flex-column align-items-center pet-type">
                                    <img src="../images/reptile.png" class="w-75">
                                    <p class="mt-2  ">Đồ dùng bò sát</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="line-green">
            <!-- Pet product -->
            <div class="row">
                <div class="col-4">
                    <ul class="left-category pt-3 pb-3">
                        <li class="background-white"><a href="#" class="item-cate-active">Thức ăn cho mèo</a></li>
                        <li><a href="#">Đồ chơi cho mèo</a></li>
                        <li><a href="#">Chuồng cho mèo</a></li>
                        <li><a href="#">Khay cát cho mèo</a></li>
                        <li><a href="#">Vòng cổ cho mèo</a></li>
                        <li><a href="#">Thuốc trị bệnh cho mèo</a></li>
                    </ul>
                </div>
                <div class="col-8 p-0">
                    <div class="d-flex align-content-between mb-3">
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-content-between mb-3">
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-content-between mb-3">
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                        <div class="w-25 item-product">
                            <a href="#"">
                                <img src="../images/cat.png" class="w-100">
                                <p class="name-product mt-3">Thức ăn cho mèo con Royal Canin Kitten</p>
                                <p class="cost-product">100.000đ</p>
                                <div class="rating-product mt-1"><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <footer>
            <div class="d-flex justify-content-between p-3">
                <div>
                    <img src="../images/logo.png" class="w-100">
                </div>
                <div  class="d-flex flex-column text-white">
                    <h5>Kết nối với chúng tôi</h5>
                    <div class="d-flex">
                        <i class="fa fa-facebook-square fa-2x"></i>
                        <a href="#" class="align-self-center ml-2 text-white font-italic font">http://facebook.com</a>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-twitter-square fa-2x mt-2"></i>
                        <a href="#" class="align-self-center ml-2 text-white font-italic font">http://twitter.com</a>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-instagram fa-2x mt-2"></i>
                        <a href="#" class="align-self-center ml-2 text-white font-italic font">http://instagram.com</a>
                    </div>
                </div>
                <div  class="d-flex flex-column text-white">
                    <h5>Liên hệ với chúng tôi</h5>
                    <p>Địa chỉ: 5A Điện Biên Phủ, Phường 25, Bình Thạnh
                        <br>, Thành phố Hồ Chí Minh</p>
                </div>
                <div  class="d-flex flex-column text-white">
                    <h5>LUÔN CẬP NHẬT</h5>
                    <p>Về các tin tức, sản phẩm mới</p>
                    <form>
                        <input value="Nhập tên gmail..." class="input-gmail">
                        <br>
                        <button type="submit" class="mt-2 btn-submit">Đăng ký</button>
                    </form>
                </div>
            </div>
        </footer>